[submodule "app/xauth"]
	path = app/xauth
	url = https://github.com/xcore-team/xauth
[submodule "extensions/xmailler"]
	path = extensions/xmailler
	url = https://github.com/xcore-team/xmailler.git
[submodule "extensions/xworker"]
	path = extensions/xworker
	url = https://github.com/xcore-team/xworker.git
[submodule "app/xwebsocket"]
	path = app/xwebsocket
	url = https://github.com/xcore-team/xwebsocket.git
[submodule "extensions/xwebsocket"]
	path = extensions/xwebsocket
	url = https://github.com/xcore-team/xwebsocket.git
[submodule "app/xpulse"]
	path = app/xpulse
	url = https://github.com/traoreera/xpulse
