# Celery
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/1

# SMTP
XAUTH_SMTP_HOST = "mail.xcorehub.dev"
XAUTH_SMTP_PORT = 587
XAUTH_SMTP_USER = "contact@xcorehub.dev"
XAUTH_SMTP_PASSWORD = "OChrIn,%,71"
XAUTH_SMTP_FROM = "contact@xcorehub.dev"
XAUTH_SMTP_FROM_NAME = "XAuth"
XAUTH_SMTP_USE_TLS = "true"
